* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body {
    background-color: rgb(167, 98, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: Libre Baskerville;
}

div {
    background-color: rgb(212, 154, 240);
    margin-inline: auto;
    margin-block: 64px;
    padding: 40px;
    border-radius: 24px;
}

h1 {
    font-size: 40px;
    color: rgb(22, 4, 39);
    line-height: 100%;
    margin-bottom: 24px;
}

p {
   color: rgb(22, 4, 39);
   padding: 28px;
   line-height: 150%;
}

.elenco {
   background-color: rgb(225, 177, 255);
   padding: 28px;
   border-radius: 12px;
}

.elenco h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Libre Baskerville', sans-serif;
    color: rgb(22, 4, 39);
    margin-bottom: 16px;
}

ol {
    padding-left: 20px;
}

.informações p {
   padding: 10px;
   border-radius: 12px;
   margin-bottom: 8px;
   margin-top: 0;
}


.informações h2{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Libre Baskerville', sans-serif;
    color: rgb(22, 4, 39);
    margin-bottom: 8px;
    }

div a {
    display: block;
    text-decoration: none;
    background-color:  rgb(225, 177, 255);
    padding: 8px;
    border-radius: 8px;
    font-weight: 700;
    line-height: 21px;
}

.video {
   background-color: rgb(225, 177, 255);
   padding: 28px;
   border-radius: 12px;
   text-align: center;
}

